In [23]:
import re
import json
import pandas as pd
from sqlalchemy import create_engine,text
import regex

# Your file path
file_path = r"C:\Users\CD-1\Documents\Sample Configuration.json"

# Read the content of the file
with open(file_path, 'r', encoding='utf-8') as file:
    input_string = file.read()

# Define the regex pattern to find JSON-like structures
pattern = r'\{(?:[^{}]*|(?R))*\}'

# Find all matches in the input string

matches = regex.findall(pattern, input_string, flags=regex.VERSION1)

# Parse each match as JSON and extract required information
site_configurations = []

for match in matches:
    entry = json.loads(match)

    if 'GPSCoordinates' in entry:
        # Check if 'GPSCoordinates' is a string and convert it to a dictionary
        gps = entry.get('GPSCoordinates')
        site_configurations.append({
            'SiteNumber': entry.get('SiteNumber'),
            'LoggerSerialNumber': entry.get('LoggerSerialNumber'),
            'LoggerModel': entry.get('LoggerModel'),
            'GPSLatitude': gps .get('Latitude'),
            'GPSLongitude': gps .get('Longitude'),
            'GPSElevation': gps .get('Elevation'),
            'AverageTimeMinutes': entry.get('AverageTimeMinutes'),
            'FirstRegisterDateTime': entry.get('FirstRegisterDateTime'),
            'LastRegisterDateTime': entry.get('LastRegisterDateTime'),
        })

# Create DataFrame
df_site = pd.DataFrame(site_configurations)

df_site['FirstRegisterDateTime'] = pd.to_datetime(df_site['FirstRegisterDateTime'], errors='coerce')
df_site['LastRegisterDateTime'] = pd.to_datetime(df_site['LastRegisterDateTime'], errors='coerce')

connection_string = 'mssql+pyodbc://192.168.1.80:converse123*@192.168.1.65/nithiy_renew?driver=ODBC+Driver+17+for+SQL+Server'
engine = create_engine(connection_string, fast_executemany=True)
 
# Replace 'your_table_name' with the name of your SQL Server table
table_name = 'config_site'

df_site['status'] = '1'
df_site['createdby'] = 'U000'


max_upcd_query = text(f"SELECT MAX(CAST(SUBSTRING(configcd, 2, LEN(configcd)) AS INT)) FROM {table_name}")

with engine.connect() as connection:
    max_upcd_result = connection.execute(max_upcd_query).scalar()

if max_upcd_result is None:
    max_upcd_result = 0

df_site['configcd'] = [f'C{max_upcd_result + i + 1:06}' for i in range(len(df_site))]

# Try to insert the data into the SQL Server table again
df_site.to_sql(table_name, con=engine, index=False, if_exists='append') 

df_site

,SiteNumber,LoggerSerialNumber,LoggerModel,GPSLatitude,GPSLongitude,GPSElevation,AverageTimeMinutes,FirstRegisterDateTime,LastRegisterDateTime,status,createdby,configcd
0,340004,1477213831,Orbit 360 Basic Plus,40.783248,-1.140565,1326,10,2022-11-02 23:00:00,2022-11-03 22:50:00,1,U000,C000002

In [9]:
import regex
import pandas as pd
import numpy as np
import json
from sqlalchemy import create_engine, text

# Your file path
file_path = r"C:\Users\CD-1\Documents\Sample Configuration.json"

# Read the content of the file with UTF-8 encoding
with open(file_path, 'r', encoding='utf-8') as file:
    input_string = file.read()

pattern = r'\{(?:[^{}]*|(?R))*\}'

matches = regex.findall(pattern, input_string, flags=regex.VERSION1)

sensor_configurations = []

for match in matches:
    # Parse the JSON string into a Python dictionary
    entry = json.loads(match)

    if 'SensorConfigurations' in entry:
        for config in entry['SensorConfigurations']:
            sensor_configurations.append({
                'ColumnPrefix': entry.get('ColumnPrefix'),
                'ChannelNumber': entry.get('ChannelNumber'),
                'SensorName': config.get('Name'),
                'SensorUnit': config.get('Units'),
                'SensorHeight': config.get('Height'),
                'SensorOrientation': config.get('Orientation'),
                'SensorMagnitude': config.get('Magnitude'),
                'SensorSlope': config.get('Slope'),
                'SensorOffset': config.get('Offset'),
                'SensorFirstRegisterDateTime': config.get('FirstRegisterDateTime'),
                'SensorLastRegisterDateTime': config.get('LastRegisterDateTime'),
                'SensorSerial': config.get('Serial')
            })


# Create DataFrame
df_sensor = pd.DataFrame(sensor_configurations)

# Adjust numeric columns
numeric_columns = ['SensorHeight', 'SensorMagnitude', 'SensorSlope', 'SensorOffset']
df_sensor[numeric_columns] = df_sensor[numeric_columns].apply(pd.to_numeric, errors='coerce')

df_sensor['SensorFirstRegisterDateTime'] = pd.to_datetime(df_sensor['SensorFirstRegisterDateTime'], errors='coerce')
df_sensor['SensorLastRegisterDateTime'] = pd.to_datetime(df_sensor['SensorLastRegisterDateTime'], errors='coerce')


# Replace empty strings wi+th NaN
df_sensor.replace('', np.nan, inplace=True)

# Connection to SQL Server
connection_string = 'mssql+pyodbc://192.168.1.80:converse123*@192.168.1.65/nithiy_renew?driver=ODBC+Driver+17+for+SQL+Server'
engine = create_engine(connection_string, fast_executemany=True)
 
# Replace 'your_table_name' with the name of your SQL Server table
table_name = 'sensor'

df_sensor['status'] = '1'
df_sensor['createdby'] = 'U000'
df_sensor['configcd']='C000001'

max_upcd_query = text(f"SELECT MAX(CAST(SUBSTRING(sensorcd, 2, LEN(sensorcd)) AS INT)) FROM {table_name}")

with engine.connect() as connection:
    max_upcd_result = connection.execute(max_upcd_query).scalar()

if max_upcd_result is None:
    max_upcd_result = 0

df_sensor['sensorcd'] = [f'S{max_upcd_result + i + 1:06}' for i in range(len(df_sensor))]

# Try to insert the data into the SQL Server table again
df_sensor.to_sql(table_name, con=engine, index=False, if_exists='append')
 
# Display the first 100 rows of the DataFrame
df_sensor.head(100)

,ColumnPrefix,ChannelNumber,SensorName,SensorUnit,SensorHeight,SensorOrientation,SensorMagnitude,SensorSlope,SensorOffset,SensorFirstRegisterDateTime,SensorLastRegisterDateTime,SensorSerial,status,createdby,configcd,sensorcd
0,FRQ(1),0,F1_WS_98_45_TFCA,m/s,98.0,45.0,1,0.046320,0.206120,2022-11-02 23:00:00,2022-11-03 22:50:00,02227702,1,U000,C000001,S000018
1,FRQ(2),1,F2_WS_98_225_TFCA,m/s,98.0,225.0,1,0.046270,0.214420,2022-11-02 23:00:00,2022-11-03 22:50:00,02227703,1,U000,C000001,S000019
2,FRQ(3),2,F3_WS_80_225_TFCA,m/s,80.0,225.0,1,0.046230,0.225440,2022-11-02 23:00:00,2022-11-03 22:50:00,02227704,1,U000,C000001,S000020
3,FRQ(4),3,F4_WS_60_225_TFCA,m/s,60.0,225.0,1,0.046130,0.239680,2022-11-02 23:00:00,2022-11-03 22:50:00,04228550,1,U000,C000001,S000021
4,FRQ(5),4,F5_PR_7_0_K611PB,mBar,7.0,0.0,4,1.005131,597.995852,2022-11-02 23:00:00,2022-11-03 22:50:00,22293,1,U000,C000001,S000022
5,Battery,16,Battery,V,0.0,0.0,0,1.000000,0.000000,2022-11-02 23:00:00,2022-11-03 22:50:00,NaN,1,U000,C000001,S000023
6,ANL(1),17,A1_WD_94_45_05V,Â°,94.0,45.0,2,1.000000,225.000000,2022-11-02 23:00:00,2022-11-03 22:50:00,04222612,1,U000,C000001,S000024
7,ANL(2),18,A2_WD_80_45_05V,Â°,80.0,45.0,2,1.000000,225.000000,2022-11-02 23:00:00,2022-11-03 22:50:00,04222613,1,U000,C000001,S000025
8,ANL(3),19,A3_TEM_97_135_K308TH,Â°C,97.0,135.0,3,20.223669,-29.984844,2022-11-02 23:00:00,2022-11-03 22:50:00,40321,1,U000,C000001,S000026
9,ANL(4),20,A4_RH_97_135_K308TH,%,97.0,135.0,5,99.718667,-1.559209,2022-11-02 23:00:00,2022-11-03 22:50:00,40321,1,U000,C000001,S000027
10,ANL(5),21,A5_TEM_8_0_K308TH,Â°C,8.0,0.0,3,20.139702,-29.742784,2022-11-02 23:00:00,2022-11-03 22:50:00,40324,1,U000,C000001,S000028
11,ANL(6),22,A6_RH_8_0_K308TH,%,8.0,0.0,5,100.311082,-2.058979,2022-11-02 23:00:00,2022-11-03 22:50:00,40324,1,U000,C000001,S000029
12,ANL(7),23,A7_V_9_0_VLOAD,V,9.0,0.0,0,39.500000,0.000000,2022-11-02 23:00:00,2022-11-03 22:50:00,NaN,1,U000,C000001,S000030
13,ANL(8),24,A8_I_9_0_ICHARGE,mA,9.0,0.0,0,39.500000,0.000000,2022-11-02 23:00:00,2022-11-03 22:50:00,NaN,1,U000,C000001,S000031
14,ANL(9),25,A09_I_97_135_ILOAD1,mA,97.0,135.0,0,4420.000000,0.000000,2022-11-02 23:00:00,2022-11-03 22:50:00,NaN,1,U000,C000001,S000032
15,ANL(10),26,A10_I_45_0_ILOAD2,mA,45.0,0.0,0,4420.000000,0.000000,2022-11-02 23:00:00,2022-11-03 22:50:00,NaN,1,U000,C000001,S000033
16,ANL(11),27,A11_I_45_0_ILOAD3,mA,45.0,0.0,0,4420.000000,0.000000,2022-11-02 23:00:00,2022-11-03 22:50:00,NaN,1,U000,C000001,S000034